@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* primary */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-inverse-primary: var(--inverse-primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-primary-container-hover: var(--primary-container-hover);
  --color-on-primary-container: var(--on-primary-container);

  /* secondary */
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-secondary-container-hover: var(--secondary-container-hover);
  --color-on-secondary-container: var(--on-secondary-container);

  /* tertiary */
  --color-tertiary: var(--tertiary);
  --color-tertiary-hover: var(--tertiary-hover);
  --color-on-tertiary: var(--on-tertiary);
  --color-tertiary-container: var(--tertiary-container);
  --color-tertiary-container-hover: var(--tertiary-container-hover);
  --color-on-tertiary-container: var(--on-tertiary-container);

  /* error */
  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-container: var(--error-container);
  --color-on-error-container: var(--on-error-container);

  /* surface */
  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface: var(--surface);
  --color-surface-variant: var(--surface-variant);
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --color-inverse-surface: var(--inverse-surface);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);
  --color-surface-dim: var(--surface-dim);
  --color-surface-bright: var(--surface-bright);

  /* outline */
  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);

  /* scrim */
  --color-scrim: var(--scrim);

  /* typography */
  --text-display-large: 57px;
  --text-display-large--line-height: 64px;
  --text-display-large--letter-spacing: -0.25px;
  --text-display-large--font-weight: 400;

  --text-display-medium: 45px;
  --text-display-medium--line-height: 52px;
  --text-display-medium--letter-spacing: -0.25px;
  --text-display-medium--font-weight: 400;

  --text-display-small: 36px;
  --text-display-small--line-height: 44px;
  --text-display-small--font-weight: 400;

  --text-headline-large: 32px;
  --text-headline-large--line-height: 40px;
  --text-headline-large--font-weight: 400;

  --text-headline-medium: 28px;
  --text-headline-medium--line-height: 36px;
  --text-headline-medium--font-weight: 400;

  --text-headline-small: 24px;
  --text-headline-small--line-height: 32px;
  --text-headline-small--font-weight: 400;

  --text-title-large: 22px;
  --text-title-large--line-height: 28px;
  --text-title-large--font-weight: 400;

  --text-title-medium: 16px;
  --text-title-medium--line-height: 24px;
  --text-title-medium--letter-spacing: 0.1px;
  --text-title-medium--font-weight: 500;

  --text-title-small: 14px;
  --text-title-small--line-height: 20px;
  --text-title-small--letter-spacing: 0.1px;
  --text-title-small--font-weight: 500;

  --text-label-large: 14px;
  --text-label-large--line-height: 20px;
  --text-label-large--letter-spacing: 0.1px;
  --text-label-large--font-weight: 400;

  --text-label-medium: 12px;
  --text-label-medium--line-height: 16px;
  --text-label-medium--letter-spacing: 0.5px;
  --text-label-medium--font-weight: 400;

  --text-label-small: 11px;
  --text-label-small--line-height: 16px;
  --text-label-small--letter-spacing: 0.5px;
  --text-label-small--font-weight: 400;

  --text-body-large: 16px;
  --text-body-large--line-height: 26px;
  --text-body-large--letter-spacing: 0.5px;
  --text-body-large--font-weight: 400;

  --text-body-medium: 14px;
  --text-body-medium--line-height: 22px;
  --text-body-medium--letter-spacing: 0.25px;
  --text-body-medium--font-weight: 400;

  --text-body-small: 12px;
  --text-body-small--line-height: 18px;
  --text-body-small--letter-spacing: 0.4px;
  --text-body-small--font-weight: 400;

  --text-caption: 12px;
  --text-caption--line-height: 16px;
  --text-caption--letter-spacing: 0.4px;
  --text-caption--font-weight: 400;

  --text-overline: 12px;
  --text-overline--line-height: 16px;
  --text-overline--letter-spacing: 0.5px;
  --text-overline--font-weight: 500;

  /* shape */
  --radius-extra-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 28px;

  /* elevation */
  --shadow-mm-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.05),
    0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  --shadow-mm-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.15),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --shadow-mm-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  --shadow-mm-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  --shadow-mm-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px 0px rgba(0, 0, 0, 0.3);

  /* motion */
  --animate-blob: blob 25s cubic-bezier(0.2, 0, 0, 1) infinite;
  --animate-blob-short: blob-short 15s linear infinite;
  --animate-determinate: determinate 4s cubic-bezier(0.9, 0, 0.2, 1) infinite;
  --animate-fade-in: fade-in 0.2s cubic-bezier(0.2, 0, 0, 1) 1;
  --animate-gradient-x: gradient-x 15s ease infinite;
  --animate-gradient-xy: gradient-xy 15s ease infinite;
  --animate-gradient-y: gradient-y 15s ease infinite;
  --animate-indeterminate: indeterminate 2s cubic-bezier(0.7, 0.1, 0.5, 1)
    infinite;
  --animate-moving: moving 25s cubic-bezier(0.2, 0, 0, 1) infinite;
  --animate-spin-lazy: spin-lazy 5s linear infinite;
  --animate-transition-bottom: transition-bottom 0.4s
    cubic-bezier(0.2, 0, 0, 1) 1;
  --animate-transition-left: transition-left 0.4s cubic-bezier(0.2, 0, 0, 1) 1;
  --animate-transition-right: transition-right 0.4s cubic-bezier(0.2, 0, 0, 1) 1;
  --animate-transition-top: transition-top 0.2s cubic-bezier(0.2, 0, 0, 1) 1;
  --animate-transition-top-lazy: transition-top 4s cubic-bezier(0.2, 0, 0, 1) 1;
  --animate-sliding-img-up-1: sliding-img-up-1 45s linear infinite;
  --animate-sliding-img-up-2: sliding-img-up-2 60s linear infinite;
  --animate-sliding-img-down-1: sliding-img-down-1 30s linear infinite;
}

:root {
  /* primary */
  --primary: #4338ca;
  --primary-hover: #3730a3;
  --inverse-primary: #4f46e5;
  --on-primary: #ffffff;
  --primary-container: #4338ca;
  --primary-container-hover: #3730a3;
  --on-primary-container: #ffffff;

  /* secondary */
  --secondary: #e0e7ff;
  --secondary-hover: #c7d2fe;
  --on-secondary: #3730a3;
  --secondary-container: #e0e7ff;
  --secondary-container-hover: #c7d2fe;
  --on-secondary-container: #3730a3;

  /* tertiary */
  --tertiary: #e0e7ff;
  --tertiary-hover: #c7d2fe;
  --on-tertiary: #312e81;
  --tertiary-container: #ede9fe;
  --tertiary-container-hover: #ddd6fe;
  --on-tertiary-container: #4c1d95;

  /* error */
  --error: #b91c1c;
  --on-error: #ffffff;
  --error-container: #991b1b;
  --on-error-container: #fecaca;

  /* surface */
  --surface-container-lowest: #f8fafc;
  --surface-container-low: #f1f5f9;
  --surface: #ffffff;
  --surface-variant: #f8fafc;
  --on-surface: #000000;
  --on-surface-variant: #475569;
  --inverse-surface: #0f172a;
  --inverse-on-surface: #f1f5f9;
  --surface-container: #f1f5f9;
  --surface-container-high: #e2e8f0;
  --surface-container-highest: #cbd5e1;
  --surface-dim: #e0e7ff;
  --surface-bright: #312e81;

  /* outline */
  --outline: #e2e8f0;
  --outline-variant: #cbd5e1;

  /* scrim */
  --scrim: #0f172a30;
}

.dark {
  /* primary */
  --primary: #c4b5fd;
  --primary-hover: #a78bfa;
  --inverse-primary: #8b5cf6;
  --on-primary: #2e1065;
  --primary-container: #c4b5fd;
  --primary-container-hover: #a78bfa;
  --on-primary-container: #2e1065;

  /* secondary */
  --secondary: #c4b5fd20;
  --secondary-hover: #a78bfa24;
  --on-secondary: #c4b5fd;
  --secondary-container: #c4b5fd20;
  --secondary-container-hover: #a78bfa24;
  --on-secondary-container: #c4b5fd;

  /* tertiary */
  --tertiary: #4c1d95;
  --tertiary-hover: #5b21b6;
  --on-tertiary: #c4b5fd;
  --tertiary-container: #4c1d95;
  --tertiary-container-hover: #5b21b6;
  --on-tertiary-container: #c4b5fd;

  /* error */
  --error: #f87171;
  --on-error: #450a0a;
  --error-container: #991b1b;
  --on-error-container: #fecaca;

  /* surface */
  --surface-container-lowest: #27272a;
  --surface-container-low: #18181b;
  --surface: #09090b;
  --surface-variant: #09090b;
  --on-surface: #ffffff;
  --on-surface-variant: #52525b;
  --inverse-surface: #fafafa;
  --inverse-on-surface: #27272a;
  --surface-container: #18181b;
  --surface-container-high: #27272a;
  --surface-container-highest: #3f3f46;
  --surface-dim: #09090b;
  --surface-bright: #18181b;

  /* outline */
  --outline: #27272a;
  --outline-variant: #18181b;

  /* scrim */
  --scrim: #09090b70;
}

@keyframes determinate {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes indeterminate {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes transition-left {
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes transition-right {
  from {
    transform: translateX(80%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes transition-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes transition-top {
  from {
    transform: translateY(-12px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradient-y {
  0%,
  100% {
    background-size: 400% 400%;
    background-position: center top;
  }
  50% {
    background-size: 200% 200%;
    background-position: center center;
  }
}

@keyframes gradient-x {
  0%,
  100% {
    background-size: 200% 200%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

@keyframes gradient-xy {
  0%,
  100% {
    background-size: 400% 400%;
    background-position: left center;
  }
  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

@keyframes spin-lazy {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blob {
  0% {
    transform: translateX(0%) translateY(0%);
  }
  20% {
    transform: translateX(-50%) translateY(-100%);
  }
  40% {
    transform: translateX(-100%) translateY(-50%);
  }
  60% {
    transform: translateX(-50%) translateY(0%);
  }
  80% {
    transform: translateX(0%) translateY(-50%);
  }
  100% {
    transform: translateX(0%) translateY(0%);
  }
}

@keyframes blob-short {
  0% {
    transform: translateX(0%) translateY(-30%);
  }
  30% {
    transform: translateX(-15%) rotate(-5deg) translateY(0%);
  }
  60% {
    transform: translateX(0%) rotate(5deg) translateY(30%);
  }
  80% {
    transform: translateX(15%) rotate(-5deg) translateY(0%);
  }
  100% {
    transform: translateX(0%) translateY(-30%);
  }
}

@keyframes moving {
  0% {
    transform: translateX(0%) translateY(0%);
  }
  20% {
    transform: translateX(50%) translateY(100%);
  }
  40% {
    transform: translateX(100%) translateY(50%);
  }
  60% {
    transform: translateX(50%) translateY(0%);
  }
  80% {
    transform: translateX(0%) translateY(50%);
  }
  100% {
    transform: translateX(0%) translateY(0%);
  }
}

@keyframes sliding-img-up-1 {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-100%);
  }
}

@keyframes sliding-img-up-2 {
  0%,
  100% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(-100%);
  }
}

@keyframes sliding-img-down-1 {
  0%,
  100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(-170%);
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  * > * {
    font-family: "Readex Pro", sans-serif;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply m-0 block bg-surface p-0 text-on-surface;
  }
}

@layer components {
  /* SLIDER WEBKIT (CHROME, SAFARI, OPERA...) */
  input[type="range"]::-webkit-slider-thumb {
    @apply pointer-events-auto relative z-50 h-[20px] w-[20px] cursor-pointer appearance-none rounded-full border-0 bg-primary shadow-mm-1 hover:ring-[12px] hover:ring-surface-container-highest/30 focus:ring-[12px] focus:ring-surface-container-highest/30;
  }

  /* SLIDER FIREFOX */
  input[type="range"]::-moz-range-thumb {
    @apply pointer-events-auto relative h-[20px] w-[20px] cursor-pointer appearance-none rounded-full border-0 bg-primary shadow-mm-1 outline-offset-1 hover:ring-[12px] hover:ring-surface-container-highest/30 focus:ring-[12px] focus:ring-surface-container-highest/30;
  }

  /* COMMON BUTTONS */
  .btn {
    @apply relative flex h-[40px] w-max cursor-pointer items-center justify-center gap-[8px] overflow-hidden rounded-full px-[16px] py-[10px] text-label-large disabled:cursor-not-allowed disabled:opacity-30;
  }

  .filled {
    @apply bg-primary text-on-primary hover:bg-primary-hover;
  }

  .tonal {
    @apply bg-secondary text-on-secondary hover:bg-secondary-hover;
  }

  .outlined {
    @apply border border-on-secondary text-on-secondary hover:bg-secondary-container;
  }

  .elevated {
    @apply bg-surface-container-low text-on-secondary shadow-mm-1 hover:bg-secondary-hover hover:backdrop-blur-sm;
  }

  .text {
    @apply text-on-secondary hover:bg-secondary-hover hover:backdrop-blur-sm;
  }

  .standard {
    @apply cursor-pointer text-on-surface hover:bg-surface-container-highest hover:text-on-surface;
  }

  /* ICON BUTTONS */
  .iconBtn {
    @apply m-[0px] flex max-h-[40px] max-w-[40px] items-center justify-center gap-[12px] rounded-full p-[8px] disabled:cursor-not-allowed disabled:opacity-30;
  }

  /* FABs */
  .fab {
    @apply flex h-[56px] w-[56px] items-center gap-[12px] rounded-large px-[16px] py-[16px];
  }

  .fabSmall {
    @apply flex h-[40px] w-[40px] items-center gap-[12px] rounded-medium px-[8px] py-[8px];
  }

  .fabLarge {
    @apply flex h-[96px] w-[96px] items-center justify-center gap-[12px] rounded-large px-[30px] py-[30px];
  }

  .fabExtended {
    @apply flex h-[56px] w-max items-center justify-center gap-[12px] rounded-large px-[16px] py-[16px] text-label-large;
  }

  .surface {
    @apply bg-primary-container text-on-primary-container hover:bg-primary-container-hover disabled:opacity-30;
  }

  .secondary {
    @apply bg-secondary-container text-on-secondary-container hover:bg-secondary-container-hover disabled:opacity-30;
  }

  .tertiary {
    @apply bg-tertiary-container text-on-tertiary-container hover:bg-tertiary-container-hover disabled:opacity-30;
  }

  /* BADGES */
  .badge {
    @apply flex h-[20px] w-max cursor-pointer items-center gap-[4px] rounded-full bg-error px-[6px] py-[6px] text-label-small text-on-error;
  }

  .dotBadge {
    @apply flex h-[12px] w-[12px] cursor-pointer rounded-full bg-error px-[4px] py-[4px] text-on-error;
  }

  .onIconBadge {
    @apply absolute flex min-h-[8px] min-w-[8px] cursor-pointer rounded-full bg-error px-[4px] text-label-small text-on-error;
  }

  /* CHIPS */
  .chips {
    @apply flex h-[32px] w-max cursor-pointer items-center gap-[8px] rounded-small bg-surface-container-low px-[8px] text-label-large text-on-surface hover:bg-surface-container-lowest disabled:opacity-30;
  }
}
